{% extends "Labs/html/mainpage.html" %}

{% block main %}
    <div class="ex-wrap">
        <p class="ex-text"></p>
    </div>
    <form method="post" id="container">
        {% csrf_token %}
        <nav class="list-pages">
            <ul>
                {% for p in next_page.paginator.page_range %}
              <a id = "links-{{p}}" href="?page={{ p }}">
                        <li id = "page-nums" class={% if p in completed_tasks%}"page-num-success" {% elif p in incompleted_tasks %} page-num-fail {%else%} "page-num"{%endif%}>
                            {{ p }}
                        </li></a>

                {% endfor %}
            </ul>
        </nav>
        <label class="title_ex" for="code-textarea"><h1>{{ title }}</h1></label>
        <label class="text_ex" for="code-textarea"><h1>{{ text }}</h1></label>
        <textarea name="codefield" id="code-textarea" placeholder=""></textarea><br>
        <button id="code-btn"  type="submit">Отправить</button>
        {% if result is not None%}
        <h1 id="result" value="{{ result }}">{% if result %} Правильно {% else %} Неправильно {% endif %}</h1>
      {% endif %}
      
    </form>

{% endblock %}
