{% extends "Labs/html/mainpage.html" %}
{% load static %}
{% block header %}
    {{ block.super }}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/exercises.css' %}">
        <title>Title-2</title>
    </head>
{% endblock %}
<body>
{% block main %}
    <div class="ex-wrap">
        <p class="ex-text"></p>
    </div>
    <form method="post" id="container">
        {% csrf_token %}
        <nav class="list-pages">
            <ul>
                {% for p in next_page.paginator.page_range %}
                        <li id = "page-nums" class="page-num">
                            <a id = "links" href="?page={{ p }}">{{ p }}</a>
                        </li>

                {% endfor %}
            </ul>
        </nav>
        <label class="title_ex" for="code-textarea"><h1>{{ title }}</h1></label>
        <label class="text_ex" for="code-textarea"><h1>{{ text }}</h1></label>
        <textarea name="codefield" id="code-textarea" placeholder=""></textarea><br>
        <button id="code-btn"  type="submit">Отправить</button>
        <h1 id="result" value="{{ result }}">{{ result }}</h1>
    </form>

{% endblock %}
</body>
</html>